In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
from sklearn.svm import SVC
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [4]:
df = pd.read_csv("preprocessed_df.csv")

In [5]:
df

,Unnamed: 0,lat,long,BIRD,CAT,DOG,EXOTIC,FOWL,LIVESTOCK,OTHER,...,POOR,SUMMER,SPRING,FALL,WINTER,NORMAL,FRIENDLY,NERVOUS,DANGEROUS,SCARED
0,0,30.494640,-91.156160,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,1,0,1,0,0,0
1,1,30.431417,-91.141070,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,1,1,0,0,0,0
2,2,30.648540,-91.156770,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,1,0,1,0,0,0
3,3,30.476015,-91.168460,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,1,0,1,0,0,0
4,4,30.429104,-91.185036,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36118,36118,30.475130,-91.156157,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,1,1,0,0,0,0
36119,36119,30.451468,-91.187147,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,1,0,0,1,0,0
36120,36120,30.355068,-91.122734,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0,0,1,0,0,1,0,0,0
36121,36121,30.389151,-91.207927,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,1,0,1,0,0,0
36122,36122,30.354927,-91.124828,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1,0,0,0,0,1,0,0,0

In [6]:
df[["lat", "long"]] = MinMaxScaler().fit_transform(df[["lat", "long"]])
df = df.drop(columns=['Unnamed: 0'])

In [7]:
df

,lat,long,BIRD,CAT,DOG,EXOTIC,FOWL,LIVESTOCK,OTHER,REPTILE,...,POOR,SUMMER,SPRING,FALL,WINTER,NORMAL,FRIENDLY,NERVOUS,DANGEROUS,SCARED
0,0.564882,0.126349,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,1,0,1,0,0,0
1,0.504047,0.128696,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,1,1,0,0,0,0
2,0.712967,0.126254,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,1,0,1,0,0,0
3,0.546960,0.124436,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,1,0,1,0,0,0
4,0.501822,0.121858,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36118,0.546109,0.126349,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,1,1,0,0,0,0
36119,0.523341,0.121530,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,1,0,0,1,0,0
36120,0.430584,0.131547,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,1,0,0,1,0,0,0
36121,0.463378,0.118298,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,1,0,1,0,0,0
36122,0.430447,0.131222,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1,0,0,0,0,1,0,0,0

In [8]:
X = df.drop(["NORMAL","FRIENDLY","NERVOUS","DANGEROUS","SCARED"], axis=1)
y = np.argmax(df[["NORMAL","FRIENDLY","NERVOUS","DANGEROUS","SCARED"]], axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8)

In [ ]:
#clf = SVC(C=100, decision_function_shape='ovr')
#clf = SVC(kernel = 'poly', degree = 4)
clf = SVC(kernel = 'rbf', gamma = 'scale', coef0 = 0.0)
y_pred = clf.fit(X_train, y_train)

In [ ]:
y_pred = clf.predict(X_test)
y_pred.sum()
accuracy = accuracy_score(y_test, y_pred)

In [ ]:
sns.histplot(y_test)

In [ ]:
print("Accuracy:", accuracy)
print("Classification Report:")
print(classification_report(y_test, y_pred))