In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
from sklearn.svm import SVC
from sklearn.preprocessing import MinMaxScaler

In [5]:
df = pd.read_csv("preprocessed_df.csv")
df = df[(df["0"] == 0) & (df["1"] == 0)].drop(["Unnamed: 0","0", "1", "D", "K", "N"], axis=1)

df[["lat", "long"]] = MinMaxScaler().fit_transform(df[["lat", "long"]])
df

,lat,long,BIRD,BIRDS,CAT,DOG,EXOTIC,FOWL,LIVESTOCK,OTHER,...,POOR,SUMMER,SPRING,FALL,WINTER,NORMAL,FRIENDLY,NERVOUS,DANGEROUS,SCARED
0,0.564882,0.126349,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,1,0,1,0,0,0
1,0.504047,0.128696,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,1,1,0,0,0,0
2,0.712967,0.126254,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,1,0,1,0,0,0
3,0.546960,0.124436,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,1,0,1,0,0,0
4,0.501822,0.121858,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36118,0.546109,0.126349,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,1,1,0,0,0,0
36119,0.523341,0.121530,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,1,0,0,1,0,0
36120,0.430584,0.131547,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0,0,1,0,0,1,0,0,0
36121,0.463378,0.118298,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,1,0,1,0,0,0
36122,0.430447,0.131222,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1,0,0,0,0,1,0,0,0